<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminaccept</servlet-name>
        <servlet-class>adminaccept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginverification</servlet-name>
        <servlet-class>loginverification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>request</servlet-name>
        <servlet-class>request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadcloud</servlet-name>
        <servlet-class>uploadcloud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify</servlet-name>
        <servlet-class>verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>image1</servlet-name>
        <servlet-class>image1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authority</servlet-name>
        <servlet-class>Authority</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>down</servlet-name>
        <servlet-class>down</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminaccept</servlet-name>
        <url-pattern>/adminaccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginverification</servlet-name>
        <url-pattern>/loginverification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadcloud</servlet-name>
        <url-pattern>/uploadcloud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image1</servlet-name>
        <url-pattern>/image1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authority</servlet-name>
        <url-pattern>/Authority</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>down</servlet-name>
        <url-pattern>/down</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
